<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/templates/global.style.css" />
    <title>Welcome to [Your Service Name]!</title>
    <style>
      .header {
        font-size: 24px;
        margin-bottom: 10px;
      }
      .email {
        color: #a855f7;
        text-decoration: none;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <div>
      <div class="wrap-logo">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/job-backend.appspot.com/o/app-logo.png?alt=media&token=f0403072-ed03-479f-a0c9-6f80c2a8a4d9"
          alt="logo"
          style="width: 30px; height: 30px; object-fit: cover"
        />
        <h1 style="font-size: 20px">Jobify</h1>
      </div>
    </div>
    <div class="container">
      <div>
        <h1 class="header">Welcome to Jobify, [full_name]!</h1>
        <p class="content">Thank you for creating an account with us.</p>
        <p class="content">
          Now you can search for the job you want. To change your life for the better
        </p>
        <p class="content">
          If you have any questions, please feel free to contact our support team at
          <a class="email" href="mailto: hr@Jobify.com">hr@Jobify.com</a>
        </p>
        <p class="content">Best regards,</p>
        <p class="content" style="margin-top: 50px">Team Jobify.co</p>
      </div>
    </div>
  </body>
</html>
