<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/templates/global.style.css" />
    <title>Jobify Email Verification</title>
    <style></style>
  </head>
  <body>
    <div class="wrap-logo">
      <img
        src="https://i.ibb.co/QXqKSNG/app-logo.png"
        alt="logo"
        style="width: 30px; height: 30px; object-fit: cover"
      />
      <h1 style="font-size: 20px">Jobify</h1>
    </div>
    <div class="container">
      <h1>Verify your email address</h1>
      <div>
        <p class="content">
          Thanks for starting the new Jobify account creation process. We want to make sure it's
          really you. Please enter the following verification code when prompted. If you don’t want
          to create an account, you can ignore this message.
        </p>
      </div>
      <div style="text-align: center; line-height: 0.75rem; margin-top: 40px">
        <h3>Verification code</h3>
        <h1 style="font-size: 42px; color: #a855f7">[verify_code]</h1>
        <p class="content" style="color: grey">(This code is expire in 10 minutes)</p>
      </div>
    </div>
  </body>
</html>
