<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://firebasestorage.googleapis.com/v0/b/job-backend.appspot.com/o/app-logo.png?alt=media&token=f0403072-ed03-479f-a0c9-6f80c2a8a4d9"
    />
    <link rel="stylesheet" href="/src/templates/global.style.css" />
    <title>Thank You for Subscribing!</title>
  </head>
  <body>
    <div class="wrap-logo">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/job-backend.appspot.com/o/app-logo.png?alt=media&token=f0403072-ed03-479f-a0c9-6f80c2a8a4d9"
        alt="logo"
        style="width: 30px; height: 30px; object-fit: cover"
      />
    </div>
    <div class="container">
      <h1>Thank you <span>[username]</span> for Subscribe!</h1>
      <br />
      <p>
        Thank you for subscribing to our website. You'll now be the first to hear about our latest
        updates, news, and exclusive offers.
      </p>
      <p>We're excited to have you join our community!</p>
    </div>
  </body>
</html>
